html,
body {
  scroll-behavior: smooth;
}

hh {
  color: #126bb0;
}

div[data-state='collapsed'] span.line-clamp-1 {
  width: 0 !important;
}
.swal2-container {
  pointer-events: auto !important;
}
.swal2-popup {
  pointer-events: auto !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 340px) {
  #modal-berita {
    height: 100% !important;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 30s linear infinite;
}
/* Custom scrollbar biar cantik */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
