html,
body {
  scroll-behavior: smooth;
}

hh {
  color: #126bb0;
}

div[data-state='collapsed'] span.line-clamp-1 {
  width: 0 !important;
}
.swal2-container {
  pointer-events: auto !important;
}
.swal2-popup {
  pointer-events: auto !important;
}

